In [1]:
'''
Assignment Operators
Comparison Operators
Logical Operators
Identity Operators
Membership Operators
'''

4

In [3]:
x=[1,2,3,4]
y=[1,2,3,4]
z=x

In [4]:
x is y

False

In [5]:
x==y

True

In [7]:
x is z #Same location so the references match for both the objects.

True

In [8]:
ld=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

True

In [10]:
x='Monday'
x in ld

True

In [9]:
'Monday' in ld

True

In [12]:
'holiday' not in ld

True

In [ ]:
'''Bitwise Operator'''

In [18]:
print("Happy Day")

Happy Day

In [16]:
msg=input('Enter your name')

In [17]:
print(msg)

Priyash Shukla

In [20]:
name=input('Enter your name')
age=input('Enter your Age')
school=input('Enter School')

In [21]:
type(age)

str

In [22]:
age=int(age)

In [23]:
type(age)

int

In [28]:
x='100'
y='-90'
x+y

'100-90'

In [26]:
x=int(x)
y=int(y)
x+y

10

In [36]:
z=1.232
z1=int(z)
type(z)
z1
type(z1)

int

In [37]:
married='yes'
m=bool(married)
type(m)

bool

In [1]:
x='101.5'

In [4]:
name=input('Enter your name')
city=input('Enter your city')
fav_food=input('Enter your fav_food')
fav_movie=input('Enter your fav_movie')
fav_book=input('Enter your fav_book')

In [8]:
print(f'Your name: {name} 😊')
print(f'Your city: {city}')
print(f'Your food: {fav_food}')
print(f'Your movie: {fav_movie}')
print(f'Your book: {fav_book}')

Your name: Priyash 😊
Your city: Lucknow
Your food: Khana
Your movie: Movie
Your book: Book

In [9]:
num1=int(input('Enter first number'))
num2=int(input('Enter second number'))
num3=num1+num2
print(f'{num1}+{num2}={num3}')

4+5=9

In [11]:
num1=int(input('Enter number'))
num2=int(input('Enter number'))
num3=int(input('Enter number'))
num4=int(input('Enter number'))
num5=int(input('Enter number'))
print(f'{num1}+{num2}+{num3}+{num4}+{num5}={num1+num2+num3+num4+num5}')

1+2+3+4+5=15

In [14]:
p=int(input('Enter the height'))
b=int(input('Enter the base'))
h=(p**2+b**2)**0.5
print('Hypotenuse is '+str(h))

Hypotenuse is 9.433981132056603

In [18]:
p=int(input('Enter the principal'))
r=int(input('Enter the rate of interest'))
t=int(input('Enter the time duration'))
si=(p*r*t)/100
print(f'Simple Interest is {si} and Amount is '+ str(si+p))

Simple Interest is 750.0 and Amount is 3750.0

In [21]:
print('You see an apple seller')
q=input('Do you like apples ? 🍎🍏')
if q=='yes':
    print('Purchase 2 KG of Apples')
if q=='no':
    print('Dont buy Apples')

You see an apple seller
Dont buy Apples

In [23]:
q=input('Do you like Lichi')
if q=='yes' or q=='y' or q=='ji':
    print('Buy Lichi')
if q=='no' or q=='n':
    print('Dont buy Lichi')

Dont buy Lichi

In [26]:
x=int(input('Enter a number'))
if x>5:
    print('x is greater than 5')
    print('This is the information that we needed.')
    print('With this power,comes great responsibility')
print('the end')

the end

In [28]:

temp=float(input('What is the temperature'))
if temp>70:
    print('Wear T-Shirts.')
else:
    print('Wear Jackets')
print('Get some exercise outside.')

Wear T-Shirts.
Get some exercise outside.

In [34]:
score=int(input('Your Score : '))
if score>=90:
    letter='A'
elif score>=80:
    letter='B'
elif score>=70:
    letter='C'
elif score>=60:
    letter='D'
else:
    letter='F'
print('Your grade is: '+letter)

Your grade is: F