In [1]:
'''
Assignment Operators
Comparison Operators
Logical Operators
Identity Operators
Membership Operators
'''

4

In [3]:
x=[1,2,3,4]
y=[1,2,3,4]
z=x

In [4]:
x is y

False

In [5]:
x==y

True

In [7]:
x is z #Same location so the references match for both the objects.

True

In [8]:
ld=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']

True

In [10]:
x='Monday'
x in ld

True

In [9]:
'Monday' in ld

True

In [12]:
'holiday' not in ld

True

In [ ]:
'''Bitwise Operator'''

In [18]:
print("Happy Day")

Happy Day

In [16]:
msg=input('Enter your name')

In [17]:
print(msg)

Priyash Shukla

In [20]:
name=input('Enter your name')
age=input('Enter your Age')
school=input('Enter School')

In [21]:
type(age)

str

In [22]:
age=int(age)

In [23]:
type(age)

int

In [28]:
x='100'
y='-90'
x+y

'100-90'

In [26]:
x=int(x)
y=int(y)
x+y

10

In [36]:
z=1.232
z1=int(z)
type(z)
z1
type(z1)

int

In [37]:
married='yes'
m=bool(married)
type(m)

bool

In [ ]:
x='101.5'